<phpunit bootstrap="tests/bootstrap.php" colors="true"  stderr="true">

    <testsuites>
        <testsuite name="Collection">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist >
            <file>src/Collection/Collection.php</file>
            <file>src/Collection/Util/Helpers.php</file>
            <file>src/Collection/Util/Arr.php</file>
            <file>src/Collection/Util/Macroable.php</file>
        </whitelist>
    </filter>   

</phpunit>